{% extends 'base.html.twig' %}

{% block title %}Home scheduler{% endblock %}

{% block body %}

    <div class="container">
        <h1>Home page</h1>
        <button class="btn btn-primary">Button</button>


    </div>
{% endblock %}
